ellipse {
	stroke-dasharray: 250;
	stroke-dashoffset: 250;
	-webkit-animation: borderanim 1.5s linear infinite;
	        animation: borderanim 1.5s linear infinite;
}

.ellipseCroix{
	width: 300px;
	height: 300px;
	-webkit-animation: rotationellipsecroix 2s linear infinite;
	        animation: rotationellipsecroix 2s linear infinite;
}

#grosCercle{
	stroke-width:3px;
	stroke:#ffaaaa;
	fill:#56ffaa;
}


#Ovale_1, #Ovale_2{
	stroke:#ffaaaa;
	stroke-width:3px;
	fill:#aaffd4;
}

.flexbox{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.flexbox2{
	margin-top:10%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

@-webkit-keyframes rotationellipsecroix {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotationellipsecroix {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


@-webkit-keyframes borderanim {
	from {
		stroke-dashoffset: 250;
	}
	to {
		stroke-dashoffset: 0;
	}
}


@keyframes borderanim {
	from {
		stroke-dashoffset: 250;
	}
	to {
		stroke-dashoffset: 0;
	}
}
